/* Empty. Add your own CSS if you like */

#map {
    height: 85%;
    width: 100%;
}
.scroll {
    height: 100%;
}
view-title, .title{
    width:100%;
    max-width:100px;
}
.spareparts {
    height: 80%;
}
.filters {
    height: 8%;
}
.tab-item-button {
    color: cornflowerblue;
}