<ion-view view-title="Entry to service" cache-view="false" hide-back-button="true">
    <ion-content>
        <button class="button button-small button-outline button-positive" ng-click="addNewOrder()">
            Add new order
        </button>

        <ion-list>
            <ion-item ng-repeat="order in orders track by $index">

                <div class="card">
                    <div class="item item-divider item-button-right">
                        Order #{{order.number}}
                        <button ng-click="removeOrder(order.number)">
                            <i class="icon ion-trash-a"></i>
                        </button>
                    </div>
                    <div class="item item-text-wrap">

                        <label class="item item-input item-select">
                            <div class="input-label">
                                Car
                            </div>
                            <select ng-model="order.CarId">
                                <option ng-repeat="car in cars" value="{{car.Id}}">{{car.Brand}} - {{car.Model}}</option>
                            </select>
                        </label>
                        <div-- class="item item-button-right">
                            Or add new car
                            <button class="button button-positive" ng-click="addNewCar(order.number)">
                                <i class="icon ion-model-s"></i>
                            </button>
                        </div>

                        <label class="item item-input item-select">
                            <div class="input-label">
                                Service
                            </div>
                            <select ng-model="order.ServiceId" ng-change="serviceChange(order.number)">
                                <option ng-repeat="service in services" value="{{service.Id}}">{{service.Name}}</option>
                            </select>
                        </label>                   
                        
                        <div class="item item-button-right">
                            Details Management
                            <button class="button button-positive" ng-disabled="detailManagementHide(order.number) > 0"  ng-click="detailManagementOpen(order.number)">
                                <i class="icon ion-gear-a"></i>
                            </button>
                        </div>

                        <label class="item item-input item-select">
                            <div class="input-label">
                                Office
                            </div>
                            <select ng-model="order.OfficeId" ng-change="officeChange(order.number)">
                                <option ng-repeat="office in offices" value="{{office.Id}}">{{office.Address}}</option>
                            </select>
                        </label>
                        
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Mechanic
                            </div>
                            <select ng-model="order.MechanicId" ng-disabled="order.isMechanicAutoSelect">
                                <option ng-repeat="mechanic in order.mechanicsArray" value="{{mechanic.Id}}">{{mechanic.FirstName}} {{mechanic.LastName}}</option>
                            </select>
                        </label>
                        <ion-checkbox ng-model="order.isMechanicAutoSelect">Select Automatically</ion-checkbox>
                        
                        <label class="item item-input">
                            <span class="input-label">Date</span>
                            <input type="date" ng-model="order.Date" ng-change="dateChange(order.Date, order.MechanicId, order.isMechanicAutoSelect, order.OfficeId, order.ServiceId, order.number)">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Select a time
                            </div>
                            <select ng-model="order.Time">
                                <option ng-repeat="timeObj in order.timeArray" ng-disabled="timeObj.IsDisabled" value="{{timeObj.Time}}">{{timeObj.Time}}</option>
                            </select>
                        </label>

                    </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="tabs tabs-icon-top tabs-color-positive"">
        <a class="tab-item" ng-click="createOrderSet()">
            <i class="icon ion-checkmark"></i>
            Create
        </a>
    </div>
</ion-view>

