<ion-view view-title="Exspress help" cache-view="false" hide-back-button="true">
    <ion-content ng-controller="MapCtrl">
        <div id="map" data-tap-disabled="true"></div>
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="../img/town_truck1.jpg">
                <h2></h2>
                <button class="button button-positive button-block">
                    <i class="icon ion-ios-telephone"></i> Call a tow truck
                </button>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="../img/mobileSto.jpg">
                <h2></h2>
                <button class="button button-positive button-block">
                    <i class="icon ion-ios-telephone-outline"></i> Call a mobile STO
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>