<ion-view view-title="Home" hide-back-button="true">
    <ion-content class="padding">
        <h2>Добро пожаловать</h2>
        <p>Если вашему автомобилю понадобился ремонт, или вы хотели бы купить запчасти для вашего авто,
        или ваш автомобиль сломался в дороге - не беда!</p>
        <p>С помощью данного приложения вы сможете в два клика:</p> 
        <p>- записаться на сервис,</p> 
        <p>- купить запчасти,</p>
        <p>- выpвать эвакуатор или мобильную бригаду СТО.</p>
    </ion-content>
</ion-view>