<ion-view view-title="Home" hide-back-button="true">
    <ion-content class="padding">
        <img style="position: relative; width: 70%; left: 18%;" src="../img/logo_main.png"/>
        <h2>Добро пожаловать</h2>
        <p>Если вашему автомобилю понадобился ремонт, или вы хотели бы купить запчасти для вашего авто,
        или ваш автомобиль сломался в дороге - не беда!</br>
        С помощью данного приложения вы сможете в два клика:</br> 
        - записаться на сервис,</br> 
        - купить запчасти,</br>
        - выpвать эвакуатор или мобильную бригаду СТО.</p>
    </ion-content>
</ion-view>