
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">New car</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Brand
                    </div>
                    <select ng-model="newCar.Brand" ng-change="brandChanged(newCar.Brand)">
                        <option ng-repeat="model in brandsAndModel track by $index" value="{{model.Brand}}">{{model.Brand}}</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Model
                    </div>
                    <select ng-model="newCar.Model" ng-disabled="newCar.Brand == null || newCar.Brand === ''">
                        <option ng-repeat="model in models track by $index" value="{{model}}">{{model}}</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Year
                    </div>
                    <select ng-model="newCar.Year">
                        <option ng-repeat="year in years track by $index" value="{{year}}">{{year}}</option>
                    </select>
                </label>
                <button class="button button-full button-positive" ng-click="createNewCar()" ng-disabled="!newCar.Brand || !newCar.Model || !newCar.Year">Create</button>
            </div>
        </ion-content>
    </ion-modal-view>