<ion-view view-title="Profile" hide-back-button="true">
    <ion-content class="padding">
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email Address</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" >
                </label>
                <label class="item item-input">
                    <span class="input-label">FirstName</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">LastName</span>
                    <input type="text" >
                </label>
                <label class="item item-input">
                    <span class="input-label">Mobile</span>
                    <input type="tel" >
                </label>
                <label class="item">
                    <button class="button button-block button-positive"  type="submit">
                        Save
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>